[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
djangorestframework = "*"
django-allauth = "*"
django-rest-auth = "*"
djangorestframework-jwt = "*"
psycopg2-binary = "*"
celery = "*"
coverage = "*"
pillow = "*"
python-dateutil = "*"
mock = "*"

[requires]
python_version = "3.7"
